# Ignore node_modules folder  
node_modules/  

# Ignore all .log files  
*.log  

# Ignore .env file (sensitive info)  
.env  

# Ignore system files  
.DS_Store  

temp/*  
!temp/keep-me.txt 

*.temp

**/debug.log